<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzMF3z6x_v2Z1dwf23F4DODG6ncZHt65g</string>
	<key>GCM_SENDER_ID</key>
	<string>260939547506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commerce</string>
	<key>PROJECT_ID</key>
	<string>flutterandnode</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterandnode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260939547506:ios:6c7692336be2bee0ff93eb</string>
</dict>
</plist>